<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/header', {title: ime}); %>
    <h3>Име: <%=ime%> <%=prezime%></h3>
    <ul>
      <% niza.forEach(grad => { %>
      <li><%=grad%></li>
      <% }); %>
    </ul>
    <table border="1" width="100%">
      <tr>
        <th>Име</th>
        <th>Презиме</th>
        <th>Просек</th>
      </tr>
      <% studenti.forEach(s => { %>
      <tr>
        <td><%=s.ime%></td>
        <td><%=s.prezime%></td>
        <td><%=s.prosek%></td>
      </tr>
      <% }); %>
    </table>
  </body>
</html>
